/* estilos.css */

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;  
    color: black; 
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    min-height: 100vh; /* La altura mínima es igual a la altura de la ventana */
}


main {
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

h1 {
    color: #090909;  
    text-align: center;
    margin: 20% 0;
    font-family: fantasy;
    font-size: 40%;
}

h2 {
    color:#090909;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: #090909;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: #5c3010;  
    text-decoration: none;
    font-family: monospace;
    font-size: 20%;
}

a:hover {
    text-decoration: underline;  
}

/* Encabezado */
header {
    background-color: #FF6F20;  /* Fondo de encabezado naranja */
    padding: 20% 0;
    color: rgb(235, 240, 235);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 20%;
}

/* Formulario */
form {
    max-width: 500%;
    margin: 20% auto;  /* Centrar el formulario */
    padding: 20%;
    border: 2% solid black;  /* Borde negro */
    border-radius: 10%;  /* Bordes redondeados */
    background-color: rgb(207, 138, 95) !important;  /* Fondo naranja oscuro para el formulario */
    text-align: center;
}

form button {
    background-color: #FF6F20;  /* Botón naranja */
    color: white;  /* Texto blanco */
    border: none;
    padding: 10% 15%;
    border-radius: 5%;
    cursor: pointer;
}

form button:hover {
    background-color: darkorange;  /* Color más oscuro al pasar el mouse */
}

/* Lista de Productos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20%;  /* Espaciado superior */
}

th, td {
    border: 1% solid black;  /* Bordes de tabla negros */
    padding: 10%;
    text-align: center;
}

th {
    background-color: #813004 !important;  /* Encabezados de tabla en naranja */
    color: white;  /* Texto blanco */
}

tr:nth-child(even) {
    background-color: #f2f2f2;  /* Filas pares con fondo gris claro */
}

tr:hover {
    background-color: #FF6F20;  /* Resaltar fila al pasar el mouse */
    color: white;  /* Cambiar texto a blanco */
}

/* Sección Hero */
.hero {
    background-color: rgb(81, 81, 81) ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}

/* Características */
.features {
    text-align: center;
    padding: 50% 0;
}

.features h3 {
    font-size: 2rem;
}

.feature-item {
    margin: 20%;
}

/* Pie de Página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10% 0;
    margin-top: auto;
}